<h2>Say anything to the stupid coach</h2>
<p>(go on tell him he's a lil' bitch)</p>

<form class="form" action="/answer" method="get">
  <input class="input-text" type="text" name="question" placeholder="Ask the coach a question" value="<%= params[:question] %>">
  <input class="input-button" type="submit" value="Ask!">
</form>
